# Assignment 1.4 Pandas
Pandas is an open source Python package providing fast, flexible, and expressive data structures and data manipulation designed to make working with “relational” or “labeled” data both easy and intuitive. It is the fundamental high-level building block for doing practical, real world data analysis in Python.
https://pandas.pydata.org/

In [1]:
## Import numpy and pandas
import numpy as np
import pandas as pd

# YOUR CODE HERE
# raise NotImplementedError()

NotImplementedError:

The two primary data structures of pandas are 
- Series (1-dimensional) and 
- DataFrame (2-dimensional)

Read this [10 min intro to get started](https://pandas.pydata.org/pandas-docs/stable/10min.html)

### Data Loading

You are given two csv files.  
- 'sales1.csv'
- 'sales2.csv'

Load both CSV as dataframes and Investigate the data and its types

In [2]:
# YOUR CODE HERE
sales_1 = pd.read_csv('sales1.csv')
sales_2 = pd.read_csv('sales2.csv')
sales_1.head()
# raise NotImplementedError()

NotImplementedError:

In [3]:
# Investigate the data 
# YOUR CODE HERE

sales_1.describe()
sales_1.dtypes
sales_1.head()
sales_1.tail(5)
sales_1.count()

sales_2.describe()
sales_2.dtypes
sales_2.head()
sales_2.tail(5)
sales_2.count()
# raise NotImplementedError()

NotImplementedError:

### Merge Dataframes
Merge the two dataframes into a single dataframe "sales" based on order id such that new data consist of common order ID and all the other columns.
Also analyse the data in different columns.
Use [Merge function](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.merge.html)

In [4]:
sales = pd.merge( sales_1, sales_2, on="Order ID", how="outer")
# YOUR CODE HERE
sales.count()
sales.describe()
sales.dtypes
sales.head(5)
sales.tail(5)
sales[sales["Order ID"]==686800706]["Country"].values
sales[sales["Order ID"]==686800706]["Item Type"].values
# raise NotImplementedError()

NotImplementedError:

In [5]:
assert(sales[sales["Order ID"]==686800706]["Country"].values == "Libya")
assert(sales[sales["Order ID"]==686800706]["Item Type"].values == "Cosmetics")

### Data Cleaning
If you look at the data we can see some issues,
- Some of the Item Type start with " * " we want to remove the asterik in the column
- Some columns data are missing indicated by NaN (u can try isnull(), isna() function)
  - If Region or Country data is missing replace it with unknown
  - if other data are missing, remove it from "sales" dataframe and add it in a "missing" dataframe 

Reference for this section:
- [Working with missing data](https://pandas.pydata.org/pandas-docs/stable/missing_data.html)
- [Python Lambda Expressions](https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)
- [Pandas Apply Function](https://pandas.pydata.org/pandas-docs/version/0.18/generated/pandas.Series.apply.html)
- [Pandas FillNa](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.fillna.html)

In [6]:
# Investigate dataframe for Null (NA/NAN) and count the number of rows with NA/NAN
null_values = sales.isnull()
NA_count = sales.isna().sum(axis = 0)
NA_count
null_count  = sales[sales.isnull().any(axis = 1)].shape[0]
null_count
# raise NotImplementedError()

NotImplementedError:

In [7]:
# remove "*", NaN, add missing sales data to "missing" dataframe 
# sales = sales['Country'].fillna('Unknown')    ## Do not use this method as it overwrites the dataframe


sales['Item Type'] = sales['Item Type'].apply(lambda x:str(x).replace('*',''))
sales = sales.fillna({'Country': 'unknown',  'Region' : 'unknown'})

missing = sales[sales.isna().any(axis=1)]
# missing = pd.DataFrame(x) ##creating new dataframe with null values
# missing

# sales = sales.dropna(axis = 0, how ='any')  ## Removing null values from existing dataframe
# sales = sales.reset_index(drop=True)

# raise NotImplementedError()

In [8]:
sales = sales[sales.notnull().all(axis = 1)]
sales

,Item Type,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Region,Country,Order Priority,Total Revenue,Total Cost
0,Cosmetics,10/18/2014,686800706,10/31/2014,8446.0,437.20,263.33,Middle East and North Africa,Libya,M,3692591.20,2224085.18
2,Baby Food,10/31/2016,246222341,12/9/2016,1517.0,255.28,159.42,Middle East and North Africa,Libya,C,387259.76,241840.14
3,Cereal,4/10/2010,161442649,5/12/2010,3322.0,205.70,117.11,Asia,Japan,C,683335.40,389039.42
4,Fruits,8/16/2011,645713555,8/31/2011,9845.0,9.33,6.92,Sub-Saharan Africa,Chad,H,91853.85,68127.40
5,Cereal,11/24/2014,683458888,12/28/2014,9528.0,205.70,117.11,Europe,Armenia,H,1959909.60,1115824.08
6,Cereal,3/4/2015,679414975,4/17/2015,2844.0,205.70,117.11,Sub-Saharan Africa,Eritrea,H,585010.80,333060.84
7,Clothes,5/17/2012,208630645,6/28/2012,7299.0,109.28,35.84,Europe,Montenegro,M,797634.72,261596.16
8,Vegetables,1/29/2015,266467225,3/7/2015,2428.0,154.06,90.93,Central America and the Caribbean,Jamaica,H,374057.68,220778.04
9,Vegetables,12/24/2013,118598544,1/19/2014,4800.0,154.06,90.93,Australia and Oceania,Fiji,H,739488.00,436464.00
10,Clothes,12/29/2015,451010930,1/19/2016,3012.0,109.28,35.84,Sub-Saharan Africa,Togo,M,329151.36,107950.08
11,Snacks,2/27/2010,220003211,3/18/2010,2694.0,152.58,97.44,Europe,Montenegro,M,411050.52,262503.36
12,Household,11/17/2016,702186715,12/22/2016,1508.0,668.27,502.54,Europe,Greece,C,1007751.16,757830.32
31,Office Supplies,6/30/2015,499009597,7/9/2015,6884.0,651.21,524.96,unknown,unknown,H,4482929.64,3613824.64
32,Fruits,1/28/2014,564646470,3/16/2014,293.0,9.33,6.92,Sub-Saharan Africa,Benin,L,2733.69,2027.56
35,Office Supplies,5/2/2010,211114585,5/14/2010,2352.0,651.21,524.96,Sub-Saharan Africa,Equatorial Guinea,M,1531645.92,1234705.92
36,Office Supplies,10/3/2013,405785882,10/22/2013,9915.0,651.21,524.96,Sub-Saharan Africa,Swaziland,H,6456747.15,5204978.40
37,Vegetables,3/6/2011,280494105,4/14/2011,3294.0,154.06,90.93,Central America and the Caribbean,Trinidad and Tobago,M,507473.64,299523.42
38,Baby Food,8/7/2016,689975583,8/12/2016,7963.0,255.28,159.42,Europe,Sweden,L,2032794.64,1269461.46
39,Office Supplies,1/11/2011,759279143,2/18/2011,6426.0,651.21,524.96,Europe,Belarus,L,4184675.46,3373392.96
40,Office Supplies,5/21/2014,133766114,6/12/2014,3221.0,651.21,524.96,Sub-Saharan Africa,Guinea-Bissau,C,2097547.41,1690896.16
41,Beverages,8/3/2013,329110324,9/2/2013,9913.0,47.45,31.79,Asia,Mongolia,M,470371.85,315134.27
42,Meat,10/5/2011,681298100,11/20/2011,103.0,421.89,364.69,Middle East and North Africa,Turkey,L,43454.67,37563.07
43,Snacks,11/15/2016,596628272,12/30/2016,4419.0,152.58,97.44,Sub-Saharan Africa,Central African Republic,L,674251.02,430587.36
44,Office Supplies,4/3/2015,901712167,4/17/2015,5523.0,651.21,524.96,Sub-Saharan Africa,Equatorial Guinea,L,3596632.83,2899354.08
46,Meat,8/2/2010,489148938,9/1/2010,8896.0,421.89,364.69,Europe,Armenia,C,3753133.44,3244282.24
47,Household,1/5/2012,876286971,2/15/2012,1643.0,668.27,502.54,Europe,Greece,L,1097967.61,825673.22
48,Personal Care,8/26/2015,262749040,8/30/2015,2135.0,81.73,56.67,Middle East and North Africa,Israel,H,174493.55,120990.45
49,Meat,12/9/2016,726708972,1/26/2017,8189.0,421.89,364.69,Asia,Bhutan,H,3454857.21,2986446.41
50,Vegetables,5/17/2012,366653096,5/31/2012,9654.0,154.06,90.93,Australia and Oceania,Vanuatu,L,1487295.24,877838.22
51,Vegetables,11/17/2010,951380240,12/20/2010,3410.0,154.06,90.93,Sub-Saharan Africa,Burundi,M,525344.60,310071.30
...,...,...,...,...,...,...,...,...,...,...,...,...
968,Vegetables,6/24/2015,433871400,7/1/2015,1044.0,154.06,90.93,Middle East and North Africa,Syria,M,160838.64,94930.92
969,Snacks,1/3/2012,232389438,1/8/2012,8054.0,152.58,97.44,Asia,Laos,M,1228879.32,784781.76
970,Cereal,2/21/2016,708063542,3/19/2016,592.0,205.70,117.11,Central America and the Caribbean,Saint Kitts and Nevis,H,121774.40,69329.12
971,Vegetables,12/4/2016,817192542,12/22/2016,4288.0,154.06,90.93,Sub-Saharan Africa,Sudan,H,660609.28,389907.84
972,Meat,1/16/2012,936387765,2/29/2012,6803.0,421.89,364.69,Central America and the Caribbean,Guatemala,H,2870117.67,2480986.07
973,Clothes,8/6/2011,612573039,8/9/2011,2830.0,109.28,35.84,Asia,Brunei,H,309262.40,101427.20
974,Clothes,8/12/2011,812984693,8/22/2011,9092.0,109.28,35.84,unknown,unknown,M,993573.76,325857.28
975,Meat,12/18/2012,775171554,1/5/2013,9344.0,421.89,364.69,Central America and the Caribbean,Panama,C,3942140.16,3407663.36
976,Household,1/10/2010,256994950,2/19/2010,9372.0,668.27,502.54,Sub-Saharan Africa,Central African Republic,H,6263026.44,4709804.88
977,Beverages,2/28/2017,886628711,3/31/2017,1993.0,47.45,31.79,Middle East and North Africa,Bahrain,M,94567.85,63357.47
978,Beverages,12/8/2011,312559163,12/16/2011,2057.0,47.45,31.79,Sub-Saharan Africa,Burundi,C,97604.65,65392.03
979,Cereal,8/18/2014,753585135,9/13/2014,1443.0,205.70,117.11,Europe,Austria,L,296825.10,168989.73
980,Beverages,4/19/2016,448817956,4/22/2016,4062.0,47.45,31.79,Australia and Oceania,Fiji,H,192741.90,129130.98
981,Clothes,11/6/2012,407681453,12/24/2012,856.0,109.28,35.84,Australia and Oceania,Fiji,M,93543.68,30679.04
982,Snacks,5/27/2016,359911954,6/23/2016,4800.0,152.58,97.44,Europe,Switzerland,H,732384.00,467712.00
983,Office Supplies,8/18/2013,105558288,8/19/2013,5898.0,651.21,524.96,Middle East and North Africa,Yemen,M,3840836.58,3096214.08
984,Personal Care,12/31/2014,864981782,2/11/2015,6186.0,81.73,56.67,Sub-Saharan Africa,Comoros,H,505581.78,350560.62
985,Office Supplies,2/4/2013,328856265,2/12/2013,4732.0,651.21,524.96,Sub-Saharan Africa,Democratic Republic of the Congo,C,3081525.72,2484110.72
986,Clothes,9/23/2016,308168065,10/18/2016,2633.0,109.28,35.84,Asia,Mongolia,H,287734.24,94366.72
987,Household,11/1/2016,884216010,11/2/2016,8021.0,668.27,502.54,Australia and Oceania,Palau,L,5360193.67,4030873.34
988,Snacks,12/27/2012,858611428,1/9/2013,1057.0,152.58,97.44,Europe,Monaco,M,161277.06,102994.08
990,Beverages,3/17/2012,410452497,3/26/2012,870.0,47.45,31.79,Sub-Saharan Africa,Mali,L,41281.50,27657.30
991,Cereal,12/17/2015,642683303,1/20/2016,3126.0,205.70,117.11,Sub-Saharan Africa,Liberia,H,643018.20,366085.86
992,Beverages,2/18/2017,682831895,3/16/2017,3987.0,47.45,31.79,Europe,Switzerland,L,189183.15,126746.73
993,Baby Food,11/5/2016,584072101,11/5/2016,8769.0,255.28,159.42,Australia and Oceania,Samoa,L,2238550.32,1397953.98
994,Meat,4/9/2017,919890248,5/18/2017,4821.0,421.89,364.69,Asia,Nepal,C,2033931.69,1758170.49
995,Snacks,4/18/2010,534085166,4/25/2010,6524.0,152.58,97.44,Middle East and North Africa,Azerbaijan,C,995431.92,635698.56
996,Baby Food,8/1/2011,590768182,9/7/2011,288.0,255.28,159.42,Europe,Georgia,H,73520.64,45912.96
997,Vegetables,5/12/2011,524363124,6/28/2011,9556.0,154.06,90.93,Middle East and North Africa,United Arab Emirates,C,1472197.36,868927.08
999,Cereal,4/10/2014,811546599,5/8/2014,3528.0,205.70,117.11,Europe,Portugal,C,725709.60,413164.08

In [9]:
assert(sales[sales["Order ID"]==267066323]["Item Type"].values == "Cereal")
assert(sales[sales["Order ID"]==267066323]["Region"].values == "unknown")

Find the number of unique items available.

In [10]:
# NumItems = sales['Item Type'].nunique()
NumItems = len(sales['Item Type'].unique())
NumItems
# YOUR CODE HERE
# raise NotImplementedError()

NotImplementedError:

### Grouping and Analysis 
Find out the statistical summary for ‘Unit Cost’ column for each Items.
Then extract the count, mean and std for "Cereal","Fruits","Vegetables","Baby Food" and "Meat" as a dataframe "Kitchen"
References:
- [Pandas Indexing](https://pandas.pydata.org/pandas-docs/stable/indexing.html)
- [Groupby](https://pandas.pydata.org/pandas-docs/stable/groupby.html)
- [Loc](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.loc.html)
- [filter](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html)

In [ ]:
# x = sales.groupby('Item Type').describe().transpose()
# x = sales.groupby('Item Type').describe() ## Gives the statistical overview of all when data is grouped by food items

In [ ]:
# x = sales['Item Type'].unique()
# for items in x:
#     print(items)     ## To display distince items

In [11]:
##### sales['Unit Cost'].describe
# sales.nunique('Item Type')
# by_cost = sales.groupby("Unit Cost")
# by_cost.describe().transpose()
# sales.unique('Item Type')
# x = sales.filter(items=['Item Type'])
# sales['Item Type'].unique().tolist()
sales.groupby(['Item Type'], as_index = False)["Unit Cost"].mean()

          Item Type  Unit Cost
0         Baby Food     159.42
1         Beverages      31.79
2            Cereal     117.11
3           Clothes      35.84
4         Cosmetics     263.33
5            Fruits       6.92
6         Household     502.54
7              Meat     364.69
8   Office Supplies     524.96
9     Personal Care      56.67
10           Snacks      97.44
11       Vegetables      90.93

In [12]:
food_items = sales.groupby('Item Type')
food_summary = food_items['Unit Cost'].describe()   ## Gives statistical summary for "unit cost" for each items i.e when we groupby items. Groupby groups the data according to
##value we define. Here, we have grouped out data by Item types, hence the data is shown with respect to item types

Kitchen = food_summary.filter(items = ['count', 'mean', 'std'])
Kitchen = Kitchen.loc[['Cereal', 'Fruits', 'Vegetables', 'Baby Food', 'Meat']]
Kitchen

# YOUR CODE HERE
# raise NotImplementedError()

            count    mean           std
Item Type
Cereal       77.0  117.11  4.291212e-14
Fruits       68.0    6.92  1.789564e-15
Vegetables   95.0   90.93  2.857249e-14
Baby Food    85.0  159.42  2.859039e-14
Meat         77.0  364.69  5.721617e-14

In [13]:
assert(Kitchen.loc["Cereal"]["count"]==77)

In [14]:
#Generate the new column ‘Total Profit’ for each orders (Total Profit = Total Revenue - Total Cost)
# YOUR CODE HERE
sales['Total Profit'] = sales['Total Revenue'] - sales['Total Cost']

# raise NotImplementedError()

NotImplementedError:

In [ ]:
assert(sales[sales["Order ID"]==246222341]["Total Profit"].values == 145419.62)

In [16]:
# How many data sets are there with profit greater than 60%

# sales['Total Profit'] = sales.apply(lambda row: ((row['Total Revenue'] - row['Total Cost'])/ row['Total Cost'])*100, axis=1)  ##Calculating profit percent
# sales.apply(lambda x: (x['Total Profit']/x['Total Cost'])*100)

sales['Profit percent'] = sales['Total Profit']/sales['Total Cost']*100
ans = (sales['Profit percent']>=60).count()
ans
# raise NotImplementedError()

404